.logo {
    display:flex;
    width: 30%;
    height: 50px;
    background-color: orangered;

}
.heading {
    width:70%;
    background-color: antiquewhite;
}
.menu {
    display:flex;
    
}
.content {
    display: flex;

}